<% content_for(:header) do %>
<script type="text/javascript" src="/js/highcharts/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<% end %>
<div class="container">
<% params_to_send = {:cols => params[:cols], :rows => params[:rows], :id => params[:id]} %>
<div id="remove_function">
<%= link_to 'Agregar Función', add_view_access_path(campaing: @campaing.id, indx: "#{current_path_info}" , proccessid: "remove_function", function: true, params_to_send: params_to_send), remote: true, class: "btn btn-info" %>
</div>
<%= link_to "Regresar a la vista de la base", base_path(id: @name_t.id, campaing: @campaing.id), class: "btn btn-warning" %>
</div>

<%= render partial: "/reporteador/view_parts/cross_over_off_vars", locals: {x: @x, y: @y, table: @table, filas: @filas, columnas: @columnas, campaing: @campaing} %>