<div class="container" style="text-align: justify;">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <blockquote class="col-md-5 pull-right"><h5><a href="mailto:contacto@research-ss.com?Subject=Privacidad" target="_top"">contacto@research-ss.com</a></h5></blockquote>
      <br/><br/>
      <h1>Aviso de Privacidad</h1>
      <p>
      De acuerdo a lo Previsto en la “Ley de Protección de Datos Personales”,declara IMCS, SA DE CV y sus filiales: ARMgroup, RSS, iMbest, Qimbest, una empresa legalmente constituida de conformidad con las leyes mexicanas, con domicilio en Bosques de Duraznos No. 69 Interior 1104, Colonia: Bosques de las Lomas, Delegación Miguel Hidalgo, Ciudad de México, C.P. 11700; y como responsable del tratamiento de sus datos personales, hace de su conocimiento que la información es tratada de forma estrictamente confidencial por lo que al proporcionar sus datos personales, además de que salvaguardamos y protegemos con los más altos estándares de seguridad la privacidad y protección de sus datos personales.</p>
      <p>
        IMCS es una empresa que realiza investigación de mercados y consultas de opinión por lo que resulta necesaria la recopilación de ciertos datos personales para llevar a cabo sus actividades, debido a esto tiene la obligación legal y social de cumplir con las medidas de seguridad suficientes para proteger aquellos datos personales que haya recabado para las finalidades que en la presente política de privacidad serán descritas.
      </p>
      <h2>Datos Personales</h2>
      <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:</p>
      <ul>
        <li> Datos de identificación</li><li> Datos laborales</li>
      </ul>
      <h2>Finalidad del Tratamiento de Datos</h2>
      <p>Los Datos Personales que nos proporcione serán utilizados invariablemente en forma agregada y con fines puramente estadísticos y para uso exclusivo de análisis en nuestra empresa, nunca con fines de divulgación o comercialización, por lo que una vez obtenida es disociada respecto a tópicos específicos de interés para nuestros clientes.</p>
      <h2>Transferencia de datos</h2>
      <p>
      IMCS, SA de CV no requiere transferir sus Datos Personales a ninguna compañía. Pues La Empresa se compromete a velar porque se cumplan todos los principios legales de protección. De igual forma, manifiesta su compromiso para que se respete en todo momento, por nosotros, la presente política de privacidad.
      </p>
      <h2>Medios para Ejercer los Derechos ARCO</h2>
      <p>Es importante informarle que usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.</p>
      <p>Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del siguiente medio en los términos que marca la Ley en su Art. 29 al responsable de la de Protección de sus Datos Personales, ubicado en Lafayette No138, Colonia Anzures , Delegación Miguel Hidalgo, Distrito Federal, vía correo electrónico a la siguiente dirección: <a href="mailto:privacidad@research-ss.com">privacidad@research-ss.com</a>, con los siguientes datos y solicitando su derecho ARCO.</p>
      <ul>
        <li> Nombre completo
        </li><li> Dirección
        </li><li> Correo Electrónico
        </li><li> Documento para acreditar identidad (credencial para votar,
        pasaporte, cartilla militar, etc.)
        </li><li> Descripción clara y precisa de los Datos Personales de los cuales se
        busca ejercer alguno de los derechos
        </li><li> Teléfono</li>
      </ul>
      <p>
      El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, por otras causas.</p>
      <p>Nos comprometemos a mantenerlo informado sobre los cambios que puede sufrir el presente aviso de privacidad, a través de:</p>
      <div class="panel panel-default" style="padding:20px; background: #eee;">
        <a href="http://www.research-ss.com/">http://www.research-ss.com/</a><br/>
        <p>Fecha de última actualización: 10/10/2013 | Protección de Datos Personales</p><br/>
        Atentamente:<br/>
        <b>Elba Leticia Mejia Mayo</b>
      </div>
    </div>
  </div>
</div>