<h1>Archivos compartidos con el usuario</h1>
<%#= render partial: '/customer_files/find_files', locals: {user: current_customer.id} %>

<div class="loading"></div>
<div class="row" id="load-consult" style="display:none;">
  <div class="col-lg-12" style="padding:30px">
    <% @files.each do |f| %>
    <%= render partial: 'admin/file', locals: {f: f, permited: false} %>
    <%end%>
  </div>
  <center><%= will_paginate @files, renderer: BootstrapPagination::Rails %></center>
</div>

  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('#load-consult').slideToggle('slow');
      },1000)

    });
  </script>